<header class="header">
  <nav class="menu-nav">
    <div>
      <ul class="nav">
        <li>
          <a>
          <img src="./assets/images/icono.svg" alt="logo" class="nav__logo" />
        </a>
        </li>
        <li>
        <a><img src="../assets/images/filmin.png" alt="filmin" class="nav__filmin" /> </a> </li>
      </ul>
    </div>

    <div>
      <ul className='menu'>
        <li class="menu__list"> <a> Películas </a></li>
        <li class="menu__list"> <a> Series </a></li>
        <li class="menu__list"> <a> Colecciones </a></li>
        <li class="menu__list"> <a> Festivales </a></li>
        <li class="menu__list"> <a> Más </a></li>
      </ul>
    </div>

    <div>
      <ul className='menu'>
        <li class="menu__list"> <button> Suscríbete</button></li>
        <li class="menu__list"> <button> Entra</button></li>
      </ul>
    </div>

    <div class="search"> <a> <i class="search fa-solid fa-magnifying-glass"> </a></i> </div>

  </nav>
 
</header>