<main class="main">
  <include src="./section.html" variable="El cine que te inspira">
    
  </include> 

  <section class="main__section">
  <h2 class="main__section--title"> </h2>
</section>
<section class="main__section">
  <h2 class="main__section--title" > Cada viernes, un nuevo estreno exclusivo</h2 class="main__section--title">
</section class="main__section">
<section class="main__section">
  <h2 class="main__section--title"> Cada martes, un nueva serie  exclusiva</h2 class="main__section--title">
</section class="main__section">
<section class="main__section">
  <h2 class="main__section--title"> si te gusta el cine clásico, esto es el paraíso</h2 class="main__section--title">
</section class="main__section">
<section class="main__section">
  <h2 class="main__section--title"> Los grandes ganadores de los Premios César</h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title"> Descubre los documentales más relevantes</h2 class="main__section--title">
</section class="main__section">
<section class="main__section">
  <h2 class="main__section--title"> Las mejores series que (quizás) aún no has visto</h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title">Con los mejores canales temáticos exclusivos</h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title"> Escogemos nuestras películas favoritas del cine reciente</h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title"> Nuestros Óscar favoritos</h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title"> Aclamadas películas del cine español</h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title"> El sueño de los amantes de series de detectives

     
     </h2 class="main__section--title">
</section class="main__section">


<section class="main__section">
  <h2 class="main__section--title"> Obras maestras del cine de los últimos años</h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title"> Películas modernas que ya son clásicas</h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title"> Un viaje a las series de época</h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title"> Nuestras películas de terror favoritas</h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title">Las historias de amor que nos han marcado
  </h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title"> Grandes directores del cine contemporáneo </h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title"> Grandes directores del cine clásico</h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title">Para disfrutar con té y pastas
  </h2 class="main__section--title">
</section class="main__section">


<section class="main__section">
  <h2 class="main__section--title"> Últimas novedades solo en alquiler
  </h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title"> Próximamente en suscripción
  </h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title">Obras de culto
  </h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title"> Thrillers que han dejado huella
  </h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title"> Grandes Sagas
  </h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title">Humor negro, británico y clásico
  </h2 class="main__section--title">
</section class="main__section">


<section class="main__section">
  <h2 class="main__section--title">Fantasías clásicas y épicas

  </h2 class="main__section--title">
</section class="main__section">


<section class="main__section">
  <h2 class="main__section--title">La plataforma con el mejor cine asiático
  </h2 class="main__section--title">
</section class="main__section">


<section class="main__section">
  <h2 class="main__section--title">La mayor colección de musicales
    
  </h2 class="main__section--title">
</section class="main__section">

<section class="main__section">
  <h2 class="main__section--title"> Y de documentales de música
    
  </h2 class="main__section--title">
</section class="main__section">


<section class="main__section">
  <h2 class="main__section--title"> y clásicos para ver al menos una vez en la vida
    
  </h2 class="main__section--title">
</section class="main__section">


<section class="main__section">
  <h2 class="main__section--title"> Grandes directoras de ayer y hoy

    
  </h2 class="main__section--title">
</section class="main__section">

</main>